@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="%23ff69b4" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 21.35l-1.45-1.32C5.4 14.25 2 11.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C15.09 3.81 16.76 3 18.5 3 21.58 3 24 5.42 24 8.5c0 2.78-3.4 5.75-8.55 11.54L12 21.35z"/></svg>'),
    auto;
} */

@layer components {
  .badge {
    @apply absolute right-0 z-50 px-4 py-2 font-semibold text-white -rotate-90 rounded-full -top-4;

    &--red {
      @apply bg-red-300;
    }

    &--green {
      @apply bg-green-300;
    }

    &--purple {
      @apply bg-purple-600;
    }
  }

  .card {
    @apply relative flex flex-col items-center justify-center gap-4 my-6 max-w-48 aspect-4/3 md:aspect-3/4 rounded-2xl;
  }
  .product-badge {
    @apply absolute px-4 py-2 font-semibold text-white rounded-full right-5 top-4;

    &--red {
      @apply bg-red-300;
    }

    &--green {
      @apply bg-green-300;
    }

    &--purple {
      @apply bg-purple-600;
    }
  }
}
.BlogPost-label {
  @apply px-5 py-2 text-white rounded-full w-fit;

  &--red {
    @apply bg-red-300;
  }

  &--green {
    @apply bg-green-300;
  }

  &--purple {
    @apply bg-purple-600;
  }
}
.flip-card {
  transition: transform 0.5s ease;
}

.flip-container:hover .flip-card {
  transform: rotateY(1turn);
  /* transform: rotateY(360deg); */
}

.cart-show:hover .cart-btn {
  bottom: 0px;
}
.cart-btn {
  bottom: -90px;
  transition: all 0.5s ease;
}
.cart-btn > div {
  @apply p-3 bg-white rounded-full;
  border: 2px solid rgb(255, 145, 0);
}
